body {
  background: #e1e8f0;
}

.contenedor_pagina {
  width: 80%;
  height: 55vw;
  margin-left: 10%;
  margin-top: 6vw;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0px 0px 2px black;
  display: flex;
  flex-direction: column;
}

.contenedor_uno {
  width: 100%;
  height: 50%;
  position: relative;
  top: 0;
}

.contenedor_uno_uno {
  width: 8vw;
  position: absolute;
  top: 31%;
  height: 45%;
  border-radius: 0 25px 25px 0;
  z-index: 1000;
  box-shadow: 2px 2px #c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #7d67ed;
}

.contenedor_uno_uno_uno {
  width: 100%;
  height: 55%;
  border-radius: 0 38% 40% 40%;
  background: #323288;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_clima_bogota_icono {
  height: 80%;
}

.div_clima_bogota {
  margin-top: -12px;
}

.div_clima_bogota p {
  margin: 0;
  color: white;
  font-size: 0.9vw;
}

.contenedor_uno_uno_dos {
  display: flex;
  justify-content: center;
  height: 43%;
  align-items: center;
}

.contenedor_uno_uno_dos p {
  margin: 0;
  font-size: 3vw;
  color: white;
}

.contenedor_uno_dos {
  position: relative;
  width: 90%;
  top: 4vw;
  margin-left: 5%;
  height: 22vw;
  border-radius: 15px;
  background-image: url("images/bogota.jpg");
  background-size: cover;
}

.contenedor_uno_dos_uno {
  width: 8vw;
  position: absolute;
  top: 23%;
  left: 10%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.icono_lugar img {
  width: 2vw;
}

.nombre_ciudad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre_ciudad p {
  color: blanchedalmond;
  margin: 0;
}

.contenedor_uno_dos_dos {
  width: 10vw;
  position: absolute;
  top: 49%;
  left: 10%;
  height: auto;
}

.imagen_otra_ciudad {
  background: #dee7f6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_ciudad_pais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_nombre_ciudad_otra p {
  margin: 0;
}

.div_nombre_pais_otra p {
  margin: 0;
  font-size: 1vw;
}

.div_temp_otra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_temp_otra p {
  margin: 0;
  font-weight: 700;
  font-size: 3vw;
  border-right: 1px solid;
  padding-right: 0.2vw;
}

.contenedor_uno_tres {
  position: absolute;
  right: 10%;
  width: 19vw;
  bottom: 0px;
  height: 30%;
  box-shadow: 2px 2px #c7c7c7;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor_uno_tres_uno {
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.contenedor_uno_tres_uno_uno {
  width: 33%;
}

.contenedor_uno_tres_dos {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}

.contenedor_uno_tres_dos_uno {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_uno_tres_dos_uno p {
  margin: 0;
  font-size: 1vw;
}

.contenedor_dos {
  height: 50%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 56%;
  margin-left: 5%;
  align-items: center;
}

.contenedor_dos_uno {
  width: 19vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor_dos_uno_uno {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.contenedor_dos_uno_uno p {
  margin: 0;
}

.contenedor_dos_uno_uno span {
  font-weight: bold;
}

.contenedor_dos_uno_dos {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor_tres_uno {
  height: 30%;
}

.contenedor_tres_dos {
  height: 50%;
}

.contenedor_dos_uno_dos_uno {
  height: 30%;
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 2px #c7c7c7;
  border-radius: 10px;
}

.contenedor_dos_uno_dos_uno_uno {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_imagen_dia img {
  width: 4vw;
}

.div_texto_dia p {
  margin: 0;
  font-size: 1vw;
}

.contenedor_dos_uno_dos_uno_dos {
  width: 45%;
  background: #7d67ed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_dos_uno_dos_uno_dos p {
  margin: 0;
  font-size: 1.5vw;
}

.contenedor_dos_dos {
  width: 19vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor_dos_dos_uno {
  height: 45%;
}

.contenedor_dos_dos_dos {
  height: 45%;
}

.contenedor_lugar_visitar {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  padding-left: 1vw;
  padding-top: 1vw;
  background-image: url("images/singapore.jpg");
}

.nombre_ciudad_visitar p {
  margin: 0;
  padding-left: 0.5vw;
  color: whitesmoke;
}

@media (max-width: 425px) {
  .contenedor_uno_tres {
    right: 30%;
    width: 27vw;
    bottom: -9px;
  }

  .imagen_otra_ciudad img {
    width: 6vw;
  }

  .div_nombre_pais_otra p {
    font-size: 2vw;
  }

  .contenedor_uno_tres_dos_uno p {
    font-size: 1.5vw;
  }

  .contenedor_dos {
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }

  .contenedor_dos_uno {
    width: 40%;
    margin-left: 5%;
  }

  .contenedor_dos_uno_dos_uno_uno {
    justify-content: flex-start;
  }

  .div_imagen_dia img {
    width: 8vw;
  }

  .div_texto_dia p {
    font-size: 2vw;
  }

  .movil {
    display: none;
  }

  .contenedor_dos_uno_dos_uno_dos p {
    font-size: 2vw;
  }

  .contenedor_lugar_visitar {
    background-size: cover;
  }
}
